<%= form_with model: @person do |form| %>
  <%= form.label :name, "Name" %>
  <%= form.text_field :name%>
  <%= form.label :title, "Title" %>
  <%= form.text_field :title %>
  <%= form.label :sex_M, "M" %>
  <%= form.radio_button :sex, "M", required: true %>
  <%= form.label :sex_F, "F" %>
  <%= form.radio_button :sex, "F", required: true %>
  <%= form.label :birth_date, "Birth Date" %>
  <%= form.date_field :birth_date %>
  <%= form.label :death_date, "Death Date" %>
  <%= form.date_field :death_date %>
  <%= form.label :father_name, "Father Name" %>
  <%= form.hidden_field :father_id %>
  <div id="father-search" data-suggestions="<%= @suggestions.to_json %>"></div>
  <%= form.label :mother_name, "Mother Name" %>
  <%= form.text_field :mother_name, value: (@mother.name if @mother) %>
  <%= form.label :mother_title, "Mother Title" %>
  <%= form.text_field :mother_title, value: (@mother.title if @mother) %>
  <%= form.submit %>
<% end %>



