
<div class="content-container">
  <div id="top" class="hero">
    <div id="name-banner">
      <h2 id="page-header">
        <%= @person.name %>, <span id="title">Fill-in Title </span>
      </h2>
      <div id="dates"><%= show_dates_years(@person)%></div>
    </div> 
    <section id="relations">
      <% unless @family[:spouses].empty? %>
        <div id="spouses">
          <h4>Spouse(s)</h4>
          <ul class="spouse-list">
            <% @family[:spouses].each do |spouse| %>
              <li>
                <span><%= link_to spouse.name, person_path(spouse)%></span>
                <% if children_clarification_needed?(spouse, @family) %>
                  <span>(Children: </span>
                  <ul>
                    <% children_of_spouse(spouse, @family[:children]).each do |child| %>
                      <li><%= link_to child.name, person_path(child) %></li>
                    <% end %>
                  </ul>
                  <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div id="ancestors-descendants">
        <% if @ancestors.length > 0 %>
          <details id="ancestors">
            <summary><h4>Ancestors</h4></summary>
            <ul class="relations-list">
              <% @ancestors.each do |ancestor| %>
                <li><%= link_to ancestor.name, person_path(ancestor) %></li>
              <% end %>
            </ul>
          </details>
        <% end %>
        <% if @descendants.length > 0 %>
          <details id="descendants">
            <summary><h4>Descendants</h4></summary>
            <ul class="relations-list">
              <% @descendants.each do |descendant| %>
                <li><%= link_to descendant.name, person_path(descendant) %></li>
              <% end %>
            </ul>
          </details>
        <% end %>
      </div> 
    </section>

    <div class="sidebar">
      <div id="admin-btns">
        <%= link_to "Edit", edit_person_path(@person) %>
        <%= link_to "Delete", person_path(@person), method: :delete%>
      </div>
      <section id="relationship">
        <h5 class="secondary-label">Identify a Relationship</h5>
        <form id="relationship-form" data-id="<%= @person.id %>" data-name="<%= @person.name %>">
          <input type="hidden" id="relation-id">
          <div id="relation-search"></div>
        </form>
        <div id="relationship-info"></div>
      </section>
    </div>
      
  </div>
  <div class="family-tree-wrapper">
    <section class="family-tree">
      <div class="family-tree-liner">
        <div class="generations-backdrop">
          <% unless @family[:grandparents].values.flatten.empty? %>
            <div class="generation">
              <span class="secondary-label generation-label">Grandparents</span>
            </div>
          <% end %>
          <% unless @family[:parents].values.all? &:nil? %>
            <div class="generation">
              <span class="secondary-label generation-label">Parents</span>
            </div>
          <% end %>
          <% if @family[:siblings].empty? %>
            <div class="generation">
              <span class="secondary-label generation-label">Subject</span>
            </div>
          <% else %>
            <div class="generation">
              <span class="secondary-label generation-label">Siblings</span>
            </div>
          <% end %>
          <% unless @family[:children].empty? %>
            <div class="generation">
              <span class="secondary-label generation-label">Children</span>
            </div>
          <% end %>
          <% unless @family[:grandchildren].empty? %>
            <div class="generation">
              <span class="secondary-label generation-label">Grandchildren</span>
            </div>
          <% end %>
        </div>
        <div class="subtrees-container">
          <% unless @family[:grandparents].values.flatten.empty? %>
            <div class="ascent-tree">
              <ul class="grandparents-level">
              <%# Extract to Helper method %>
                <% unless @family[:grandparents][:paternal].empty? %>
                  <li class="paternal-grandparents">
                    <span class="grandparents-node">
                      <% gparent1 = @family[:grandparents][:paternal][0] %>
                      <% gparent2 = @family[:grandparents][:paternal][1] %>
                      <%= link_to(gparent1.name, person_path(gparent1)) if gparent1 %>
                      <%= link_to(gparent2.name, person_path(gparent2)) if gparent2 %>
                    </span>
                  </li>
                <% end %>
                <% unless @family[:grandparents][:maternal].empty? %>
                  <li class="maternal-grandparents">
                    <span class="grandparents-node">
                      <% gparent1 = @family[:grandparents][:maternal][0] %>
                      <% gparent2 = @family[:grandparents][:maternal][1] %>
                      <%= link_to(gparent1.name, person_path(gparent1)) if gparent1 %>
                      <%= link_to(gparent2.name, person_path(gparent2)) if gparent2 %>
                    </span>
                  </li>
                <% end %>
              </ul> 
            </div>
          <% end %>
          <div class="descent-tree">
            <% if !@family[:parents].values.all? &:nil? %>
              <%# Do Parents Version %>
              <ul class="parents-level">
                <li class="parents">
                  <span class="parents-node">
                    <% father = @family[:parents][:male] %>
                    <% mother = @family[:parents][:female] %>
                    <%= link_to(father.name, person_path(father)) if father %>
                    <%= link_to(mother.name, person_path(mother)) if mother %>
                  </span>
                  <ul class="subject-level">
                    <% subject_level_people(@person, @family[:siblings]).each do |person| %>
                      <% #If person is the subject, render their tree. If not, render a sibling leaf %>
                      <% if person.id == @person.id %>
                        <%= render partial: "subject_descent_tree", locals: {family: @family, orphan: false }%>
                      <% else %>
                        <li>
                          <span><%= link_to person.name, person_path(person) %></span>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </li>
              </ul>
            <% else %>
              <%# Do non-parents Version %>
              <ul class="subject-level">
                <%= render partial: "subject_descent_tree", locals: {family: @family, orphan: true }%>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<%= javascript_pack_tag "relationship" %>
<%= javascript_pack_tag "familyTree" %>
<%= javascript_pack_tag "relationsDetails" %>
<%= javascript_pack_tag "personSearch" %>
