<h1><%= @person.name %></h1>
<h3><%= @person.title %></h3>
<%= show_attr("Sex", @person, :sex) %>
<%= show_attr("Birth Date", @person, :birth_date)%>
<%= show_attr("Father", @family[:parents][:male], :name, link: true) %>
<%= show_attr("Mother", @family[:parents][:female], :name, link: true)%>
<%= show_relationship_collection("Children", @family[:children]) %>
<%= show_relationship_collection("Grandchildren", @family[:grandchildren].values.flatten) %>
<%= show_relationship_collection("Siblings", @family[:siblings]) %>
<%= show_relationship_collection("Grandparents", @family[:grandparents].values.flatten) %>
<%= show_relationship_collection("Spouses", @family[:spouses]) %>
<section id="relationship">
  <form id="relationship-form" data-id="<%= @person.id %>">
    <input type="hidden" id="relation-id">
    <div id="relation-search"></div>
    <input type="submit" value="Get Relationship">
  </form>
  <div id="relationship-info"></div>
</section>

<section id="ancestry">
  <p>Ancestors: <%= @ancestors.map(&:name).join(", ") %></p>
</section>

<section id="descendants">
  <p>Descendants: <%= @descendants.map(&:name).join(", ") %></p>
</section>


<%= link_to "Edit", edit_person_path(@person) %>
<%= link_to "Delete", person_path(@person), method: :delete%>
<%= link_to "People", people_path %>

<%= javascript_pack_tag "relationship" %>

<h3>Full Family</h3>
<section class="family-tree">
  <div class="ascent-tree">
    <ul>
      <li class="paternal-grandparents">
        <span class="grandparents-node">
          <a href="#">PG</a>
          <a href="#">PG</a>
        </span>
      </li>
      <li class="maternal-grandparents">
        <span class="grandparents-node">
          <a href="#">MG</a>
          <a href="#">MG</a>
        </span>
      </li>
    </ul> 
  </div>

  

  <div class="descent-tree">
    <ul class="parents-level">
      <li class="parents-tree">
        <span>
          <a href="#">Father</a>
          <a href="#">Mother</a>
        </span>
        <ul class="subject-level">
          <li>
            <span>Brother</span>
          </li>
          <li>
            <span>Subject</span>
            <ul class="child-level">
              <li>
                <span>Child</span>
                <ul class="grandchild-level">
                  <li>
                    <span>Grand Child</span>
                  </li>
                </ul>
              </li>
              <li>
                <span>Child</span>
                <ul class="grandchild-level">
                  <li><span>Grand Child</span></li>
                  <li>
                    <span>Grand Child</span>
                  </li>
                  <li><span>Grand Child</span></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <span>Sister</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</section>





<%= javascript_pack_tag "familyTree" %>