<h1><%= @person.name %></h1>
<h3><%= @person.title %></h3>
<%= show_attr("Birth Date", @person, :birth_date)%>
<%= show_relationship_collection("Spouses", @family[:spouses]) %>
<section id="relationship">
  <form id="relationship-form" data-id="<%= @person.id %>">
    <input type="hidden" id="relation-id">
    <div id="relation-search"></div>
    <input type="submit" value="Get Relationship">
  </form>
  <div id="relationship-info"></div>
</section>

<section id="ancestry">
  <p>Ancestors: <%= @ancestors.map(&:name).join(", ") %></p>
</section>

<section id="descendants">
  <p>Descendants: <%= @descendants.map(&:name).join(", ") %></p>
</section>



<section class="family-tree">
  <% unless @family[:grandparents].values.flatten.empty? %>
    <div class="ascent-tree">
      <ul class="grandparents-level">
      <%# Extract to Helper method %>
        <% unless @family[:grandparents][:paternal].empty? %>
          <li class="paternal-grandparents">
            <span class="grandparents-node">
              <% gparent1 = @family[:grandparents][:paternal][0] %>
              <% gparent2 = @family[:grandparents][:paternal][1] %>
              <%= link_to(gparent1.name, person_path(gparent1)) if gparent1 %>
              <%= link_to(gparent2.name, person_path(gparent2)) if gparent2 %>
            </span>
          </li>
        <% end %>
        <% unless @family[:grandparents][:maternal].empty? %>
          <li class="maternal-grandparents">
            <span class="grandparents-node">
              <% gparent1 = @family[:grandparents][:maternal][0] %>
              <% gparent2 = @family[:grandparents][:maternal][1] %>
              <%= link_to(gparent1.name, person_path(gparent1)) if gparent1 %>
              <%= link_to(gparent2.name, person_path(gparent2)) if gparent2 %>
            </span>
          </li>
        <% end %>
      </ul> 
    </div>
  <% end %>
  <div class="descent-tree">
    <% if !@family[:parents].values.all? &:nil? %>
      <%# Do Parents Version %>
      <ul class="parents-level">
        <li>
          <span class="parents">
            <% father = @family[:parents][:male] %>
            <% mother = @family[:parents][:female] %>
            <%= link_to(father.name, person_path(father)) if father %>
            <%= link_to(mother.name, person_path(mother)) if mother %>
          </span>
          <ul class="subject-level">
            <% subject_level_people(@person, @family[:siblings]).each do |person| %>
              <% #If person is the subject, render their tree. If not, render a sibling leaf %>
              <% if person.id == @person.id %>
                <%= render partial: "subject_descent_tree", locals: {family: @family }%>
              <% else %>
                <li>
                  <span><%= link_to person.name, person_path(person) %></span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
    <% else %>
      <%# Do non-parents Version %>
      <ul class="subject-level">
        <%= render partial: "subject_descent_tree", locals: {family: @family }%>
      </ul>
    <% end %>
  </div>
</section>


<%= link_to "Edit", edit_person_path(@person) %>
<%= link_to "Delete", person_path(@person), method: :delete%>
<%= link_to "People", people_path %>

<%= javascript_pack_tag "relationship" %>
<%= javascript_pack_tag "familyTree" %>