<h1><%= @person.name %></h1>
<h3><%= @person.title %></h3>
<%= show_attr("Sex", @person, :sex) %>
<%= show_attr("Birth Date", @person, :birth_date)%>
<%= show_attr("Father", @family[:parents][:male], :name, link: true) %>
<%= show_attr("Mother", @family[:parents][:female], :name, link: true)%>
<%= show_relationship_collection("Children", @family[:children]) %>
<%= show_relationship_collection("Grandchildren", @family[:grandchildren].values.flatten) %>
<%= show_relationship_collection("Siblings", @family[:siblings]) %>
<%= show_relationship_collection("Grandparents", @family[:grandparents].values.flatten) %>
<%= show_relationship_collection("Spouses", @family[:spouses]) %>
<section id="relationship">
  <form id="relationship-form" data-id="<%= @person.id %>">
    <input type="hidden" id="relation-id">
    <div id="relation-search"></div>
    <input type="submit" value="Get Relationship">
  </form>
  <div id="relationship-info"></div>
</section>

<section id="ancestry">
  <p>Ancestors: <%= @ancestors.map(&:name).join(", ") %></p>
</section>

<section id="descendants">
  <p>Descendants: <%= @descendants.map(&:name).join(", ") %></p>
</section>






<% @family[:children].each do |child| %>
  <div><%= child.name %></div>
<% end %>

<h3>Full Family</h3>
<section class="family-tree">
  <% unless @family[:grandparents].values.flatten.empty? %>
    <div class="ascent-tree">
      <ul>
      <%# Extract to Helper method %>
        <% unless @family[:grandparents][:paternal].empty? %>
          <li class="paternal-grandparents">
            <span class="grandparents-node">
              <% gparent1 = @family[:grandparents][:paternal][0] %>
              <% gparent2 = @family[:grandparents][:paternal][1] %>
              <%= link_to(gparent1.name, person_path(gparent1)) if gparent1 %>
              <%= link_to(gparent2.name, person_path(gparent2)) if gparent2 %>
            </span>
          </li>
        <% end %>
        <% unless @family[:grandparents][:maternal].empty? %>
          <li class="paternal-grandparents">
            <span class="grandparents-node">
              <% gparent1 = @family[:grandparents][:maternal][0] %>
              <% gparent2 = @family[:grandparents][:maternal][1] %>
              <%= link_to(gparent1.name, person_path(gparent1)) if gparent1 %>
              <%= link_to(gparent2.name, person_path(gparent2)) if gparent2 %>
            </span>
          </li>
        <% end %>
      </ul> 
    </div>
  <% end %>
  <div class="descent-tree">
    <% if !@family[:parents].values.all? &:nil? %>
      <%# Do Parents Version %>
      <ul class="parents-level">
        <li>
          <span>
            <% father = @family[:parents][:male] %>
            <% mother = @family[:parents][:female] %>
            <%= link_to(father.name, person_path(father)) if father %>
            <%= link_to(mother.name, person_path(mother)) if mother %>
          </span>
          <% if !@family[:siblings].empty? %>
            <ul class="subject-level">
              <%# Render first half of siblings %>
              <% num_of_siblings = @family[:siblings].length %>
              <% halfway_num_of_siblings = num_of_siblings / 2 %>
              <% (0...halfway_num_of_siblings).each do |idx| %>
                <% sibling = @family[:siblings][idx] %>
                <li>
                  <span><%= link_to sibling.name, person_path(sibling) %></span>
                </li>
              <% end %>
              <%= render partial: "subject_descent_tree", locals: {family: @family }%>
              <%# Render second half of siblings %>
              <% (halfway_num_of_siblings...num_of_siblings).each do |idx| %>
                <% sibling = @family[:siblings][idx] %>
                <li>
                  <span><%= link_to sibling.name, person_path(sibling) %></span>
                </li>
              <% end %>
            </ul>
          <% else %>
            <%# Do Non-siblings version %>
            <ul class="subject-level">
              <%= render partial: "subject_descent_tree", locals: {family: @family }%>
              </ul>
          <% end %>
        </li>
      </ul>
    <% else %>
      <%# Do Non Parents Version %>
      <ul class="subject-level">
        <%= render partial: "subject_descent_tree", locals: {family: @family }%>
      </ul>
    <% end %>
  </div>
</section>


<%= link_to "Edit", edit_person_path(@person) %>
<%= link_to "Delete", person_path(@person), method: :delete%>
<%= link_to "People", people_path %>

<%= javascript_pack_tag "relationship" %>
<%= javascript_pack_tag "familyTree" %>