<h1><%= @person.name %></h1>

<% if @person.birth_date%>
  <p>Born: <%= @person.birth_date %></p>  
<% end %>

<% if @person.death_date%>
  <p>Died: <%= @person.death_date %></p>  
<% end %>

<%= link_to "Edit", edit_person_path(@person) %>
<%= link_to "Delete", person_path(@person), method: :delete%>
