<div class="content-container hero">
  <div id="main-form-container">
    <h1 id="page-header">Admin Login</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div id="fieldsets-container">
        <fieldset>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <div class="form-line">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            </div>
          <% end %>

          <div class="actions">
            
          </div>
          <%= render "devise/shared/links" %>
        </fieldset>
        <%= f.submit "Log in", id: "submit-main" %>
      </div>
    <% end %>
    
  </div>

</div>

