<!DOCTYPE html>
<html>
  <head>
    <title>RoyalFamilies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div id="flash">
        <%= msg %>
      </div>
    <% end %>
    <header>
      <h1><a href="/people">Royal Families</a></h1>
        <%= link_to "Add a Profile", new_person_path, class: "basic-btn"%>
      <% if action_name == "show" %>
        <%= render partial: "person_search" %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <span>Copyright 2021, Paul David Cline</span>
    </footer>
  </body>
</html>
